<template name="layout">
  {{#ionBody}}
    {{> ionNavBar}}

    {{#ionNavView}}
      {{> yield}}
    {{/ionNavView}}

    {{#if isAndroid}}
      {{#ionTabs style="android"}}
        {{> ionTab title="Nearby" path="home" icon="ios-navigate"}}
        {{> ionTab title="Search" path="tab2" icon="ios-search-strong"}}
        {{> ionTab title="Profile" path="tab3" icon="ios-person"}}
        {{> ionTab title="Settings" path="settings" icon="ios-gear"}}
      {{/ionTabs}}
    {{else}}
      {{#ionTabs style="ios"}}
        {{> ionTab title="Nearby" path="home" iconOff="ios-navigate-outline" iconOn="ios-navigate" class="tab-item-positive"}}
        {{> ionTab title="Search" path="tab2" iconOff="ios-search" iconOn="ios-search-strong" class="tab-item-positive"}}
        {{> ionTab title="Profile" path="tab3" iconOff="ios-person-outline" iconOn="ios-person" class="tab-item-positive"}}
        {{> ionTab title="Settings" path="settings" iconOff="ios-gear-outline" iconOn="ios-gear" class="tab-item-positive"}}
      {{/ionTabs}}
    {{/if}}


  {{/ionBody}}
</template>

<head>
  <title>Title of content</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui">
  <meta name="apple-mobile-web-app-capable" content="yes">
</head>
